<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>                                                                                                                                                                                                                                                                                <style>
.darkBG {
@charset "UTF-8";
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);                                                                                                                                                                                                                                                                                   background:#99cc99;
}
.darkerBG {
    background:#99cc99;
}
.red {
    background:#99cc99;
}

li
{
    list-style-type:none;
}
.avatar img {

    width: 25em;
    height: 25em;
    margin-bottom: .5em;
    display: block;
    margin-left: auto;
    margin-right: auto }


body {
    background: #99cc99;
}
footer {
    display: none;
}
a:link, a:visited {
    color:#eee;
    text-decoration: none;
}
.st0 {
    fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:5;
    stroke-dasharray: 2900;
    stroke-dashoffset: 0;
    -webkit-animation: dash 3s linear forwards;
    -moz-animation: dash 3s linear forwards;
    -o-animation: dash 3s linear forwards;
    animation: dash 4s linear forwards;
}
h1 {
    text-align: center;
    color: #f5f5f5;
    size:200%;
}
h3 {
    text-align: center;
    color:#567356;
}
li:hover {
    -webkit-filter: drop-shadow( 0px 1px 5px #336633 );
    filter: drop-shadow( 0px 1px 5px #336633);
}
li {
    margin:1em;
}
svg {
    width: 150px;
    height: 150px;
    align: center;
    -webkit-filter: drop-shadow( 0px 0px 5px #555 );
    filter: drop-shadow( 0px 0px 5px #555 );
    transition:1s;
}
svg:hover{
    -webkit-filter: drop-shadow( 0px 15px 5px #336633 );
    filter: drop-shadow( 0px 15px 5px #336633);
}
#logo:hover .st0{
    fill:#99cc99;
    transition: 5s;
}
#logo {
    cursor:pointer;
}
@-webkit-keyframes dash {
    from {
        stroke-dashoffset:2900;
    }
    to {
        stroke-dashoffset:0;
    }
}
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
    url('MonoSocialIconsFont-1.10.woff') format('woff'),
    url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
    url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}



.icon {
    background: white;
    width: 100px;
    height: 100px;
}
        .icona {
            background-color: antiquewhite;
        }
.navbar {
    display: none;
}

</style>



<div class="container">
  <div class="row">
    <div class ="darkBG col-sm-12 col-xs-12"> <?xml version="1.0" encoding="utf-8"?>
      <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <!--<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">-->
      <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns: xlink="http://www.w3.org/1999/xlink" x="px" y="0px"
           viewBox="0 0 669.6 504" style="enable-background:new 0 0 669.6 504;" xml:space="preserve">
        <path class="st0" d="M518.4,275.4c-5.5-8.6-11.5-15.4-18.2-20.6c-6.6-5.2-14-9.2-22-12.1c5.5-2.9,10.9-6.6,16.1-11
	c5.3-4.4,10.3-10.4,15.2-17.2L646.2,27.9h-93c-10.5,0-19.4,1.9-26.7,4.9c-7.3,3-13.8,8.7-19.4,17L405.6,201.2
	c0,0-21.7,35.2-36.9,34.8l-16.7,0.1l0.1-208.3h0.4v-16h-163c-32.5,0-60.3,3.8-83.6,11.4c-23.3,7.7-42.5,18.3-57.5,31.7
	C33.3,68.6,22.1,84.5,15,102.8S4.2,141,4.2,162.3c0,23,3.7,44,11.1,63.2c7.4,19.2,18.7,35.6,33.8,49.3
	c15.2,13.7,34.4,24.1,57.7,31.8c23.3,7.7,50.9,11.3,82.7,11.3H244l-0.6,171h108.7l0.4-15.7V317.9h34.7c22.9,0,32.2,4.2,49.4,23.3
	c15,16.6,83.7,128.6,83.7,128.6c2.1,3.2,4.3,6,6.6,8.4c2.3,2.4,5.1,4.5,8.2,6.2c3.2,1.7,6.9,2.7,11.2,3.5c4.3,0.8,9.5,1,15.7,1h95.5
	L518.4,275.4z M244.5,238.9h-55c-27.8,0-47.8-7.2-60.1-20.5c-12.2-13.3-18.3-32.1-18.3-55.9c0-10.5,1.6-20.3,4.7-28.9
	c3.2-8.6,8-16.1,14.4-22.4c6.4-6.2,14.5-10.9,24.3-14.3c9.8-3.4,21.5-5,34.9-5h55V238.9z"/>
        <a href = "http://localhost:3000/gallery/index"></a>
      </svg>
    </div>

    <div class ="darkerBG col-sm-12 col-xs-12"><br>
      <div class="avatar">

        <img src="/assets/me.svg" alt="me" class="hidden-phone">
      </div>

     <h3> Hi, my name is Peter Kona and I am a Web Designer & Developer among other things.
      I love crafting web pages in HTML5, CSS3  Ruby on Rails and jQuery.
      When I'm not I'm working on projects for clients I'm attending conferences
      or learning new stuff. If you want to hire me or just to talk, connect with me.</h3>s
      </div>

      <div class ="red col-sm-12 col-xs-12">
        <n>
          <ul>
            <div class="col-sm-4">
              <li>
                <a href ="http://localhost:3000/gallery/index"><h3><strong>porfolio</strong></h3></a>
              </li>
            </div>
            <div class="col-sm-4">
              <li>
                <a href = "http://localhost:3000/about/index"><h3>about me</h3></a>
              </li>
            </div>
            <div class="col-sm-4">
              <li>
                <a href ="http://localhost:3000/contact/index"><h3>contact me</h3></a>
              </li>
            </div>
          </ul>
        </n>
      </div>

      <div class="red col-sm-12 col-xs-12">
        <p>Twitter symbol : <span class='symbol'>circletwitterbird</span></p>
        <p>Twitter symbol with unicode : <span class='symbol'>&amp;#xe286;</span></p>
        <p><a href='#' class='symbol' title='circletwitterbird'>Follow us</a></p>
        <p>Unicode : <a href='#' class='symbol' title='&amp;#xe286;'>Follow us</a></p>
      </div>

      <!--<div class ="red col-sm-12 col-xs-12">-->
        <!--<div class="avatar">-->

          <!--<img src="/assets/code.svg" alt="me" class="hidden-phone">-->
        <!--</div>-->
      </div>
    </div>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  <script src="/assets/bootstrap.min.js"></script>
  <script type='text/javascript' src="/assets/bootbox.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.quicksand.js"></script>
  </div>











