

<style>
    .nav-pills > li.active > a {
        background-color:cornflowerblue;
    }
    .nav-pills>li.active>a:hover {
        background-color: deepskyblue;
    }
    .nav-pills>li>a {
        color: darkslategrey;
    }
    .nav-pills {
        padding-top:10px;
    }

</style>

<div class="container">
  <hr>

  <ul class="filter nav nav-pills">
    <li data-value="all" class="active"><a href="#">All</a></li>
    <li data-value="digital"><a href="#">Digital Art</a></li>
    <li data-value="paint"><a href="#">Paintings</a></li>
    <li data-value="code"><a href="#">Coding</a></li>
    <li data-value="print"><a href="#">Print</a></li>
    <li data-value="logo"><a href="#">Logo Design</a></li>
  </ul>

  <hr>

  <ul class="thumbnails">
    <li data-type="code" data-id="id-1" class="span3">
      <a href="#" class="thumbnail" id="dig1"><img src="/assets/dream.png" alt=""></a>
    </li>
    <li data-type="code" data-id="id-2" class="span3">
      <a href="#" class="thumbnail" id="paint1"><img src="/assets/convert.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-3" class="span3">
      <a href="#" class="thumbnail" id="dig2"><img src="/assets/stanley.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-4" class="span3">
      <a href="#" class="thumbnail" id="dig3"><img src="/assets/budha.png" alt=""></a>
    </li>
    <li data-type="paint" data-id="id-5" class="span3">
      <a href="#" class="thumbnail" id="dig4"><img src="/assets/strong.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-6" class="span3">
      <a href="#" class="thumbnail" id="dig5"><img src="/assets/back.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-7" class="span3">
      <a href="#" class="thumbnail" id="dig6"><img src="/assets/slon.jpg" alt=""></a>
    </li>
    <li data-type="print" data-id="id-8" class="span3">
      <a href="#" class="thumbnail" id="print"><img src="/assets/print.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-9" class="span3">
      <a href="#" class="thumbnail" id="dig7"><img src="/assets/mat.jpg" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-10" class="span3">
      <a href="#" class="thumbnail" id="dig8"><img src="/assets/ast.jpg" alt=""></a>
    </li>
    <li data-type="cat" data-id="id-11" class="span3">
      <a href="#" class="thumbnail" id="dig9"><img src="/assets/face.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-12" class="span3">
      <a href="#" class="thumbnail" id="dig10"><img src="/assets/cer.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-13" class="span3">
      <a href="#" class="thumbnail" id="dig11"><img src="/assets/gard.jpg" alt=""></a>
    </li>
    <li data-type="paint" data-id="id-14" class="span3">
      <a href="#" class="thumbnail" id="dig12"><img src="/assets/count.png" alt=""></a>
    </li>
    <li data-type="logo" data-id="id-15" class="span3">
      <a href="#" class="thumbnail" id="dig13"><img src="/assets/hypo.jpg" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-16" class="span3">
      <a href="#" class="thumbnail" id="dig14"><img src="/assets/butons.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-17" class="span3">
      <a href="#" class="thumbnail" id="dig15"><img src="/assets/fac.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-18" class="span3">
      <a href="#" class="thumbnail" id="dig16"><img src="/assets/acupun.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-19" class="span3">
      <a href="#" class="thumbnail" id="dig17"><img src="/assets/budh.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-20" class="span3">
      <a href="#" class="thumbnail" id="dig18"><img src="/assets/balls.png" alt=""></a>
    </li>
    <li data-type="paint" data-id="id-21" class="span3">
      <a href="#" class="thumbnail" id="paint2"><img src="/assets/cd.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-22" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/refro.jpg" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-23" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/me.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-24" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/cloud.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-25" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/pk.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-26" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/k.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-27" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/s.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-28" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/rabbit.png" alt=""></a>
    </li>
    <li data-type="digital" data-id="id-29" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/hand.png" alt=""></a>
    </li>
    <li data-type="print" data-id="id-30" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/board.png" alt=""></a>
    </li>
    <li data-type="logo" data-id="id-31" class="span3">
    <a href="#" class="thumbnail" id="dig19"><img src="/assets/zero.png" alt=""></a>
  </li>
    <li data-type="logo" data-id="id-32" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/needle.png" alt=""></a>
    </li>
    <li data-type="logo" data-id="id-33" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/n.png" alt=""></a>
    </li>
    <li data-type="code" data-id="id-34" class="span3">
    <a href="#" class="thumbnail" id="dig19"><img src="/assets/pek.png" alt=""></a>
  </li>
    <li data-type="code" data-id="id-35" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/monkey.png" alt=""></a>
    </li>
    <li data-type="code" data-id="id-36" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/w.png" alt=""></a>
    </li>
  </ul>


  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  <script src="/assets/bootstrap.min.js"></script>
  <script type='text/javascript' src="/assets/bootbox.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.quicksand.js"></script>


  <script>
      function gallery(){
          $('#dig1').click(function() { bootbox.alert('<img src="/assets/dream.png"><h4>Dog ipsum dolor sit amet</h4>'); });
          $('#paint1').click(function() { bootbox.alert('<img src="/assets/man.jpg"><h4>Cat ipsum dolor sit amet</h4>'); });
          $('#dig2').click(function() { bootbox.alert('<img src="/assets/stanley.png"><h4>Bird ipsum dolor sit amet</h4>'); });
          $('#dig3').click(function() { bootbox.alert('<img src="/assets/budha.png"><h4>Dog ipsum dolor sit amet</h4>'); });
          $('#dig4').click(function() { bootbox.alert('<img src="/assets/strong.png"><h4>Cat ipsum dolor sit amet</h4>'); });
          $('#dig5').click(function() { bootbox.alert('<img src="/assets/back.png"><h4>Bird ipsum dolor sit amet</h4>'); });
          $('#dig6').click(function() { bootbox.alert('<img src="/assets/slon.jpg"><h4>Dog ipsum dolor sit amet</h4>'); });
          $('#print').click(function() { bootbox.alert('<img src="/assets/print.gif"><h4>Cat ipsum dolor sit amet</h4>'); });
          $('#dig7').click(function() { bootbox.alert('<img src="/assets/mat.png"><h4>Bird ipsum dolor sit amet</h4>'); });
          $('#dig8').click(function() { bootbox.alert('<img src="/assets/mandal.png"><h4>Dog ipsum dolor sit amet</h4>'); });
          $('#dig9').click(function() { bootbox.alert('<img src="/assets/face.jpg"><h4>Cat ipsum dolor sit amet</h4>'); });
          $('#dig10').click(function() { bootbox.alert('<img src="/assets/cer.png"><h4>Bird ipsum dolor sit amet</h4>'); });
          $('#dig11').click(function() { bootbox.alert('<img src="/assets/curt.png"><h4>Dog ipsum dolor sit amet</h4>'); });
          $('#dig12').click(function() { bootbox.alert('<img src="/assets/dedo.jpg"><h4>Cat ipsum dolor sit amet</h4>'); });
          $('#dig13').click(function() { bootbox.alert('<img src="/assets/waitak.png"><h4>Bird ipsum dolor sit amet</h4>'); });
          $('#dig14').click(function() { bootbox.alert('<img src="/assets/butons.png"><h4>Bird ipsum dolor sit amet</h4>'); });
          $('#dig15').click(function() { bootbox.alert('<img src="/assets/caw.jpg"><h4>Bird ipsum dolor sit amet</h4>'); });
          $('#dig16').click(function() { bootbox.alert('<img src="/assets/hypo.png"><h4>Bird ipsum dolor sit amet</h4>'); });
          $('#paint2').click(function() { bootbox.alert('<img src="/assets/back.png"><h4>Bird ipsum dolor sit amet</h4>'); });
      }
      var $itemsHolder = $('ul.thumbnails');
      var $itemsClone = $itemsHolder.clone();
      var $filterClass = "";
      $('ul.filter li').click(function(e) {
          e.preventDefault();
          $filterClass = $(this).attr('data-value');
          if($filterClass == 'all'){ var $filters = $itemsClone.find('li'); }
          else { var $filters = $itemsClone.find('li[data-type='+ $filterClass +']'); }
          $itemsHolder.quicksand(
                  $filters,
                  { duration: 1000 },
                  gallery
          );
      });
      $(document).ready(gallery);
  </script>



</div>










